<footer class="footer fixed-bottom">
    <p>
        © Copyright 2022  <a href="https://sebastiencozedev.github.io/e-portfolio/" target="_blank" rel="noopener noreferrer">Coze Sébastien</a>
        <br>
        Ce site a été réalisé dans le cadre de <a href="https://www.udemy.com/course/maitriser-nodejs-et-son-ecosysteme-npm-express-mongo/" target="_blank" rel="noopener noreferrer">cette formation Udemy</a>.
        <br>
        Hébergé chez <a class="footer-a" href="https://www.ovhcloud.com/fr/terms-and-conditions/" target="_blank" rel="noopener noreferrer">OVHCloud - OVH SAS</a>

    </p>
</footer>