<header>
    <nav id="header" class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h1>Photo Library</h1></a>
            <a class="btn btn-primary mt-4 mb-4" href="/albums/create">Nouvel album</a>
        </div>
    </nav>
</header>