<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
        <main>
            <article class="container">
                <div class="row mt-4">
                    <div class="col">
                        <h2>Les albums</h2>
                        <a class="btn btn-primary mt-2 mb-4" href="/albums/create">
                            Nouvel album
                        </a>
                    </div>
                </div>
            </article>
        </main>
    <%- include('partials/scripts') %>
</body>

</html>