body {
    background-color: #d4d8f0;
}

h1 {
    color: #fffffe;
}

nav#header {
    background-color: #232946;
}

nav#header .btn-primary {
    background-color: #eebbc3;
    border-color: #eebbc3;
    color: #232946;
}

nav#header .btn-primary:hover {
    color: #fffffe;
}